In [102]:
import pandas as pd

In [103]:
data = pd.read_csv('IRIS.csv')

In [104]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [105]:
set(data.species)

{'Iris-setosa', 'Iris-versicolor', 'Iris-virginica'}

In [106]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [107]:
data.shape

(150, 5)

In [108]:
type(data['sepal_width'])

pandas.core.series.Series

In [109]:
type(data[['sepal_length', 'petal_width']])

pandas.core.frame.DataFrame

In [110]:
data[data.sepal_width> 3.2]

     sepal_length  sepal_width  petal_length  petal_width          species
0             5.1          3.5           1.4          0.2      Iris-setosa
4             5.0          3.6           1.4          0.2      Iris-setosa
5             5.4          3.9           1.7          0.4      Iris-setosa
6             4.6          3.4           1.4          0.3      Iris-setosa
7             5.0          3.4           1.5          0.2      Iris-setosa
10            5.4          3.7           1.5          0.2      Iris-setosa
11            4.8          3.4           1.6          0.2      Iris-setosa
14            5.8          4.0           1.2          0.2      Iris-setosa
15            5.7          4.4           1.5          0.4      Iris-setosa
16            5.4          3.9           1.3          0.4      Iris-setosa
17            5.1          3.5           1.4          0.3      Iris-setosa
18            5.7          3.8           1.7          0.3      Iris-setosa
19            5.1          3.8           1.5          0.3      Iris-setosa
20            5.4          3.4           1.7          0.2      Iris-setosa
21            5.1          3.7           1.5          0.4      Iris-setosa
22            4.6          3.6           1.0          0.2      Iris-setosa
23            5.1          3.3           1.7          0.5      Iris-setosa
24            4.8          3.4           1.9          0.2      Iris-setosa
26            5.0          3.4           1.6          0.4      Iris-setosa
27            5.2          3.5           1.5          0.2      Iris-setosa
28            5.2          3.4           1.4          0.2      Iris-setosa
31            5.4          3.4           1.5          0.4      Iris-setosa
32            5.2          4.1           1.5          0.1      Iris-setosa
33            5.5          4.2           1.4          0.2      Iris-setosa
36            5.5          3.5           1.3          0.2      Iris-setosa
39            5.1          3.4           1.5          0.2      Iris-setosa
40            5.0          3.5           1.3          0.3      Iris-setosa
43            5.0          3.5           1.6          0.6      Iris-setosa
44            5.1          3.8           1.9          0.4      Iris-setosa
46            5.1          3.8           1.6          0.2      Iris-setosa
48            5.3          3.7           1.5          0.2      Iris-setosa
49            5.0          3.3           1.4          0.2      Iris-setosa
56            6.3          3.3           4.7          1.6  Iris-versicolor
85            6.0          3.4           4.5          1.6  Iris-versicolor
100           6.3          3.3           6.0          2.5   Iris-virginica
109           7.2          3.6           6.1          2.5   Iris-virginica
117           7.7          3.8           6.7          2.2   Iris-virginica
124           6.7          3.3           5.7          2.1   Iris-virginica
131           7.9          3.8           6.4          2.0   Iris-virginica
136           6.3          3.4           5.6          2.4   Iris-virginica
144           6.7          3.3           5.7          2.5   Iris-virginica
148           6.2          3.4           5.4          2.3   Iris-virginica

In [111]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [112]:
data.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [113]:
data.rename(columns = {'sepal_length': 's_length', 'petal_width': 'p_width'}, inplace=True)

In [114]:
data.dtypes

s_length        float64
sepal_width     float64
petal_length    float64
p_width         float64
species          object
dtype: object

In [115]:
data.head()

   s_length  sepal_width  petal_length  p_width      species
0       5.1          3.5           1.4      0.2  Iris-setosa
1       4.9          3.0           1.4      0.2  Iris-setosa
2       4.7          3.2           1.3      0.2  Iris-setosa
3       4.6          3.1           1.5      0.2  Iris-setosa
4       5.0          3.6           1.4      0.2  Iris-setosa

In [116]:
data.columns

Index(['s_length', 'sepal_width', 'petal_length', 'p_width', 'species'], dtype='object')

In [117]:
import numpy as np

In [118]:
data = data.reindex(np.random.permutation(data.index)) # Usually a good idea to shuffle

In [119]:
data.head(10)

     s_length  sepal_width  petal_length  p_width          species
105       7.6          3.0           6.6      2.1   Iris-virginica
137       6.4          3.1           5.5      1.8   Iris-virginica
109       7.2          3.6           6.1      2.5   Iris-virginica
28        5.2          3.4           1.4      0.2      Iris-setosa
120       6.9          3.2           5.7      2.3   Iris-virginica
12        4.8          3.0           1.4      0.1      Iris-setosa
60        5.0          2.0           3.5      1.0  Iris-versicolor
144       6.7          3.3           5.7      2.5   Iris-virginica
114       5.8          2.8           5.1      2.4   Iris-virginica
125       7.2          3.2           6.0      1.8   Iris-virginica

In [120]:
data.iloc[[1,5,7]]

     s_length  sepal_width  petal_length  p_width         species
137       6.4          3.1           5.5      1.8  Iris-virginica
12        4.8          3.0           1.4      0.1     Iris-setosa
144       6.7          3.3           5.7      2.5  Iris-virginica

In [121]:
data.loc[[1,5,7]]

   s_length  sepal_width  petal_length  p_width      species
1       4.9          3.0           1.4      0.2  Iris-setosa
5       5.4          3.9           1.7      0.4  Iris-setosa
7       5.0          3.4           1.5      0.2  Iris-setosa

In [122]:
data.iloc[[1,5,7] , [0,3]]

     s_length  p_width
137       6.4      1.8
12        4.8      0.1
144       6.7      2.5

In [123]:
data.loc[[1,5,7], ['s_length','p_width' ]]

   s_length  p_width
1       4.9      0.2
5       5.4      0.4
7       5.0      0.2

# Dataloading with missing values and without header

In [124]:
df1 = pd.read_csv('p_bridges.csv')

In [125]:
df1.head()

   E1  M   3  1818   HIGHWAY     ?  2  N  THROUGH  WOOD   SHORT  S WOOD.1
0  E2  A  25  1819   HIGHWAY  1037  2  N  THROUGH  WOOD   SHORT  S   WOOD
1  E3  A  39  1829  AQUEDUCT     ?  1  N  THROUGH  WOOD       ?  S   WOOD
2  E5  A  29  1837   HIGHWAY  1000  2  N  THROUGH  WOOD   SHORT  S   WOOD
3  E6  M  23  1838   HIGHWAY     ?  2  N  THROUGH  WOOD       ?  S   WOOD
4  E7  A  27  1840   HIGHWAY   990  2  N  THROUGH  WOOD  MEDIUM  S   WOOD

In [126]:
headers=["IDENTIF","RIVER","LOCATION","ERECTED","PURPOSE","LENGTH","LANES","CLEAR-G","T-OR-D","MATERIAL","SPAN","REL-L","TYPE"]

In [127]:
df1 = pd.read_csv('p_bridges.csv', names = headers)

In [128]:
df1.head()

,IDENTIF,RIVER,LOCATION,ERECTED,PURPOSE,LENGTH,LANES,CLEAR-G,T-OR-D,MATERIAL,SPAN,REL-L,TYPE
0,E1,M,3,1818,HIGHWAY,?,2,N,THROUGH,WOOD,SHORT,S,WOOD
1,E2,A,25,1819,HIGHWAY,1037,2,N,THROUGH,WOOD,SHORT,S,WOOD
2,E3,A,39,1829,AQUEDUCT,?,1,N,THROUGH,WOOD,?,S,WOOD
3,E5,A,29,1837,HIGHWAY,1000,2,N,THROUGH,WOOD,SHORT,S,WOOD
4,E6,M,23,1838,HIGHWAY,?,2,N,THROUGH,WOOD,?,S,WOOD

In [129]:
df1 = pd.read_csv('p_bridges.csv', names = headers, index_col = 0)

In [130]:
df1.head()

,RIVER,LOCATION,ERECTED,PURPOSE,LENGTH,LANES,CLEAR-G,T-OR-D,MATERIAL,SPAN,REL-L,TYPE
IDENTIF,,,,,,,,,,,,
E1,M,3,1818,HIGHWAY,?,2,N,THROUGH,WOOD,SHORT,S,WOOD
E2,A,25,1819,HIGHWAY,1037,2,N,THROUGH,WOOD,SHORT,S,WOOD
E3,A,39,1829,AQUEDUCT,?,1,N,THROUGH,WOOD,?,S,WOOD
E5,A,29,1837,HIGHWAY,1000,2,N,THROUGH,WOOD,SHORT,S,WOOD
E6,M,23,1838,HIGHWAY,?,2,N,THROUGH,WOOD,?,S,WOOD

In [131]:
df1 = pd.read_csv('p_bridges.csv', names = headers, index_col = 0, na_values='?')

In [132]:
df1.head()

,RIVER,LOCATION,ERECTED,PURPOSE,LENGTH,LANES,CLEAR-G,T-OR-D,MATERIAL,SPAN,REL-L,TYPE
IDENTIF,,,,,,,,,,,,
E1,M,3.0,1818,HIGHWAY,NaN,2.0,N,THROUGH,WOOD,SHORT,S,WOOD
E2,A,25.0,1819,HIGHWAY,1037.0,2.0,N,THROUGH,WOOD,SHORT,S,WOOD
E3,A,39.0,1829,AQUEDUCT,NaN,1.0,N,THROUGH,WOOD,NaN,S,WOOD
E5,A,29.0,1837,HIGHWAY,1000.0,2.0,N,THROUGH,WOOD,SHORT,S,WOOD
E6,M,23.0,1838,HIGHWAY,NaN,2.0,N,THROUGH,WOOD,NaN,S,WOOD

In [133]:
df1[df1.isnull().any(axis=1)]

,RIVER,LOCATION,ERECTED,PURPOSE,LENGTH,LANES,CLEAR-G,T-OR-D,MATERIAL,SPAN,REL-L,TYPE
IDENTIF,,,,,,,,,,,,
E1,M,3.0,1818,HIGHWAY,NaN,2.0,N,THROUGH,WOOD,SHORT,S,WOOD
E3,A,39.0,1829,AQUEDUCT,NaN,1.0,N,THROUGH,WOOD,NaN,S,WOOD
E6,M,23.0,1838,HIGHWAY,NaN,2.0,N,THROUGH,WOOD,NaN,S,WOOD
E10,A,39.0,1848,AQUEDUCT,NaN,1.0,N,DECK,WOOD,NaN,S,WOOD
E12,A,39.0,1853,RR,NaN,2.0,N,DECK,WOOD,NaN,S,WOOD
E13,A,33.0,1856,HIGHWAY,NaN,2.0,N,THROUGH,WOOD,NaN,S,WOOD
E15,A,28.0,1857,RR,NaN,2.0,N,THROUGH,WOOD,NaN,S,WOOD
E17,M,4.0,1863,RR,1000.0,2.0,N,THROUGH,IRON,MEDIUM,NaN,SIMPLE-T
E21,M,16.0,1874,RR,NaN,2.0,NaN,THROUGH,IRON,NaN,NaN,SIMPLE-T
E23,M,1.0,1876,HIGHWAY,1245.0,NaN,NaN,THROUGH,STEEL,LONG,F,SUSPEN
E24,O,45.0,1878,RR,NaN,2.0,G,NaN,STEEL,NaN,NaN,SIMPLE-T
E25,M,10.0,1882,RR,NaN,2.0,G,NaN,STEEL,NaN,NaN,SIMPLE-T
E27,A,39.0,1883,RR,NaN,2.0,G,THROUGH,STEEL,NaN,F,SIMPLE-T
E30,A,31.0,1884,RR,NaN,2.0,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E29,A,26.0,1884,HIGHWAY,1080.0,2.0,G,THROUGH,STEEL,MEDIUM,NaN,SUSPEN
E32,A,30.0,1887,HIGHWAY,NaN,2.0,G,THROUGH,IRON,MEDIUM,F,SIMPLE-T
E33,M,19.0,1889,HIGHWAY,1120.0,NaN,G,THROUGH,IRON,MEDIUM,F,SIMPLE-T
E36,O,45.0,1890,HIGHWAY,NaN,2.0,G,THROUGH,IRON,SHORT,F,SIMPLE-T
E38,M,17.0,1891,HIGHWAY,NaN,2.0,G,THROUGH,IRON,MEDIUM,F,SIMPLE-T
E39,A,25.0,1892,HIGHWAY,NaN,2.0,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E40,M,22.0,1893,HIGHWAY,NaN,2.0,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E41,M,11.0,1894,HIGHWAY,NaN,2.0,G,THROUGH,IRON,MEDIUM,F,SIMPLE-T
E44,O,48.0,1896,HIGHWAY,NaN,2.0,G,THROUGH,STEEL,LONG,F,SUSPEN
E45,M,14.0,1897,RR,2264.0,NaN,G,THROUGH,STEEL,NaN,F,SIMPLE-T
E94,M,13.0,1901,RR,NaN,2.0,G,THROUGH,STEEL,LONG,F,SIMPLE-T
E50,M,21.0,1903,RR,1154.0,NaN,G,THROUGH,STEEL,LONG,F,SIMPLE-T
E52,M,2.0,1904,RR,1504.0,NaN,G,THROUGH,STEEL,LONG,F,CANTILEV
E54,Y,NaN,1908,HIGHWAY,1240.0,NaN,G,NaN,STEEL,MEDIUM,F,SIMPLE-T
E56,M,23.0,1909,HIGHWAY,NaN,NaN,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E107,A,39.0,1914,RR,NaN,NaN,G,NaN,STEEL,NaN,F,NIL
E92,M,10.0,1914,RR,2210.0,NaN,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E65,A,30.0,1921,WALK,NaN,NaN,G,THROUGH,STEEL,NaN,F,SUSPEN
E73,A,38.0,1927,HIGHWAY,1508.0,NaN,G,THROUGH,STEEL,MEDIUM,S,ARCH
E97,Y,52.0,1945,HIGHWAY,NaN,NaN,G,THROUGH,STEEL,MEDIUM,S,ARCH
E96,Y,51.0,1945,RR,NaN,NaN,G,THROUGH,STEEL,MEDIUM,F,SIMPLE-T
E82,O,42.0,1955,HIGHWAY,804.0,NaN,G,THROUGH,STEEL,NaN,F,SIMPLE-T
E100,O,43.0,1982,HIGHWAY,NaN,NaN,G,NaN,NaN,NaN,F,NaN
E109,A,28.0,1986,HIGHWAY,NaN,NaN,G,NaN,NaN,NaN,F,NaN

In [134]:
df2 = df1.dropna()

In [135]:
df2.head()

,RIVER,LOCATION,ERECTED,PURPOSE,LENGTH,LANES,CLEAR-G,T-OR-D,MATERIAL,SPAN,REL-L,TYPE
IDENTIF,,,,,,,,,,,,
E2,A,25.0,1819,HIGHWAY,1037.0,2.0,N,THROUGH,WOOD,SHORT,S,WOOD
E5,A,29.0,1837,HIGHWAY,1000.0,2.0,N,THROUGH,WOOD,SHORT,S,WOOD
E7,A,27.0,1840,HIGHWAY,990.0,2.0,N,THROUGH,WOOD,MEDIUM,S,WOOD
E8,A,28.0,1844,AQUEDUCT,1000.0,1.0,N,THROUGH,IRON,SHORT,S,SUSPEN
E9,M,3.0,1846,HIGHWAY,1500.0,2.0,N,THROUGH,IRON,SHORT,S,SUSPEN

In [136]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, E2 to E90
Data columns (total 12 columns):
RIVER       70 non-null object
LOCATION    70 non-null float64
ERECTED     70 non-null int64
PURPOSE     70 non-null object
LENGTH      70 non-null float64
LANES       70 non-null float64
CLEAR-G     70 non-null object
T-OR-D      70 non-null object
MATERIAL    70 non-null object
SPAN        70 non-null object
REL-L       70 non-null object
TYPE        70 non-null object
dtypes: float64(3), int64(1), object(8)
memory usage: 7.1+ KB

In [137]:
df2.describe()

        LOCATION      ERECTED       LENGTH      LANES
count  70.000000    70.000000    70.000000  70.000000
mean   25.438571  1911.542857  1597.657143   2.857143
std    13.223347    36.010339   780.237680   1.242785
min     1.000000  1819.000000   840.000000   1.000000
25%    15.250000  1891.250000  1000.000000   2.000000
50%    27.000000  1915.000000  1325.000000   2.000000
75%    35.750000  1935.500000  2000.000000   4.000000
max    49.000000  1978.000000  4558.000000   6.000000

# Dealing with categorical features

In [138]:
categorical_features = df2.dtypes==object
categorical_features

RIVER        True
LOCATION    False
ERECTED     False
PURPOSE      True
LENGTH      False
LANES       False
CLEAR-G      True
T-OR-D       True
MATERIAL     True
SPAN         True
REL-L        True
TYPE         True
dtype: bool

In [139]:
categorical_cols = df2.columns[categorical_features].tolist()
categorical_cols

['RIVER', 'PURPOSE', 'CLEAR-G', 'T-OR-D', 'MATERIAL', 'SPAN', 'REL-L', 'TYPE']

In [140]:
set(df2['RIVER'])

{'A', 'M', 'O'}

# Label Encoding

In [141]:
from sklearn import preprocessing

In [142]:
le = preprocessing.LabelEncoder()

In [143]:
df2[categorical_cols] = df2[categorical_cols].apply(lambda col: le.fit_transform(col))

In [144]:
df2.head()

,RIVER,LOCATION,ERECTED,PURPOSE,LENGTH,LANES,CLEAR-G,T-OR-D,MATERIAL,SPAN,REL-L,TYPE
IDENTIF,,,,,,,,,,,,
E2,0,25.0,1819,1,1037.0,2.0,1,1,2,2,1,5
E5,0,29.0,1837,1,1000.0,2.0,1,1,2,2,1,5
E7,0,27.0,1840,1,990.0,2.0,1,1,2,1,1,5
E8,0,28.0,1844,0,1000.0,1.0,1,1,0,2,1,4
E9,1,3.0,1846,1,1500.0,2.0,1,1,0,2,1,4

In [145]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, E2 to E90
Data columns (total 12 columns):
RIVER       70 non-null int32
LOCATION    70 non-null float64
ERECTED     70 non-null int64
PURPOSE     70 non-null int32
LENGTH      70 non-null float64
LANES       70 non-null float64
CLEAR-G     70 non-null int32
T-OR-D      70 non-null int32
MATERIAL    70 non-null int32
SPAN        70 non-null int32
REL-L       70 non-null int32
TYPE        70 non-null int32
dtypes: float64(3), int32(8), int64(1)
memory usage: 4.9+ KB

# Ordinal Encoding

In [146]:
df4 = df1.dropna()

In [147]:
df4.head()

,RIVER,LOCATION,ERECTED,PURPOSE,LENGTH,LANES,CLEAR-G,T-OR-D,MATERIAL,SPAN,REL-L,TYPE
IDENTIF,,,,,,,,,,,,
E2,A,25.0,1819,HIGHWAY,1037.0,2.0,N,THROUGH,WOOD,SHORT,S,WOOD
E5,A,29.0,1837,HIGHWAY,1000.0,2.0,N,THROUGH,WOOD,SHORT,S,WOOD
E7,A,27.0,1840,HIGHWAY,990.0,2.0,N,THROUGH,WOOD,MEDIUM,S,WOOD
E8,A,28.0,1844,AQUEDUCT,1000.0,1.0,N,THROUGH,IRON,SHORT,S,SUSPEN
E9,M,3.0,1846,HIGHWAY,1500.0,2.0,N,THROUGH,IRON,SHORT,S,SUSPEN

In [148]:
dict_river = {'A' : 0, 'M':1, 'O':2}

In [149]:
df4['RIVER_ORDINAL'] = df4.RIVER.map(dict_river)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [150]:
df4.head()

,RIVER,LOCATION,ERECTED,PURPOSE,LENGTH,LANES,CLEAR-G,T-OR-D,MATERIAL,SPAN,REL-L,TYPE,RIVER_ORDINAL
IDENTIF,,,,,,,,,,,,,
E2,A,25.0,1819,HIGHWAY,1037.0,2.0,N,THROUGH,WOOD,SHORT,S,WOOD,0
E5,A,29.0,1837,HIGHWAY,1000.0,2.0,N,THROUGH,WOOD,SHORT,S,WOOD,0
E7,A,27.0,1840,HIGHWAY,990.0,2.0,N,THROUGH,WOOD,MEDIUM,S,WOOD,0
E8,A,28.0,1844,AQUEDUCT,1000.0,1.0,N,THROUGH,IRON,SHORT,S,SUSPEN,0
E9,M,3.0,1846,HIGHWAY,1500.0,2.0,N,THROUGH,IRON,SHORT,S,SUSPEN,1

# One Hot Encoding

In [151]:
df3 = df1.dropna()

In [152]:
df5 = pd.get_dummies(df3 , columns = categorical_cols)

In [153]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, E2 to E90
Data columns (total 29 columns):
LOCATION            70 non-null float64
ERECTED             70 non-null int64
LENGTH              70 non-null float64
LANES               70 non-null float64
RIVER_A             70 non-null uint8
RIVER_M             70 non-null uint8
RIVER_O             70 non-null uint8
PURPOSE_AQUEDUCT    70 non-null uint8
PURPOSE_HIGHWAY     70 non-null uint8
PURPOSE_RR          70 non-null uint8
CLEAR-G_G           70 non-null uint8
CLEAR-G_N           70 non-null uint8
T-OR-D_DECK         70 non-null uint8
T-OR-D_THROUGH      70 non-null uint8
MATERIAL_IRON       70 non-null uint8
MATERIAL_STEEL      70 non-null uint8
MATERIAL_WOOD       70 non-null uint8
SPAN_LONG           70 non-null uint8
SPAN_MEDIUM         70 non-null uint8
SPAN_SHORT          70 non-null uint8
REL-L_F             70 non-null uint8
REL-L_S             70 non-null uint8
REL-L_S-F           70 non-null uint8
TYPE_ARCH           70 non-null uint8
TYPE_CANTILEV       70 non-null uint8
TYPE_CONT-T         70 non-null uint8
TYPE_SIMPLE-T       70 non-null uint8
TYPE_SUSPEN         70 non-null uint8
TYPE_WOOD           70 non-null uint8
dtypes: float64(3), int64(1), uint8(25)
memory usage: 4.4+ KB

In [154]:
df5.columns

Index(['LOCATION', 'ERECTED', 'LENGTH', 'LANES', 'RIVER_A', 'RIVER_M',
       'RIVER_O', 'PURPOSE_AQUEDUCT', 'PURPOSE_HIGHWAY', 'PURPOSE_RR',
       'CLEAR-G_G', 'CLEAR-G_N', 'T-OR-D_DECK', 'T-OR-D_THROUGH',
       'MATERIAL_IRON', 'MATERIAL_STEEL', 'MATERIAL_WOOD', 'SPAN_LONG',
       'SPAN_MEDIUM', 'SPAN_SHORT', 'REL-L_F', 'REL-L_S', 'REL-L_S-F',
       'TYPE_ARCH', 'TYPE_CANTILEV', 'TYPE_CONT-T', 'TYPE_SIMPLE-T',
       'TYPE_SUSPEN', 'TYPE_WOOD'],
      dtype='object')

In [155]:
df5.head()

,LOCATION,ERECTED,LENGTH,LANES,RIVER_A,RIVER_M,RIVER_O,PURPOSE_AQUEDUCT,PURPOSE_HIGHWAY,PURPOSE_RR,...,SPAN_SHORT,REL-L_F,REL-L_S,REL-L_S-F,TYPE_ARCH,TYPE_CANTILEV,TYPE_CONT-T,TYPE_SIMPLE-T,TYPE_SUSPEN,TYPE_WOOD
IDENTIF,,,,,,,,,,,,,,,,,,,,,
E2,25.0,1819,1037.0,2.0,1,0,0,0,1,0,...,1,0,1,0,0,0,0,0,0,1
E5,29.0,1837,1000.0,2.0,1,0,0,0,1,0,...,1,0,1,0,0,0,0,0,0,1
E7,27.0,1840,990.0,2.0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
E8,28.0,1844,1000.0,1.0,1,0,0,1,0,0,...,1,0,1,0,0,0,0,0,1,0
E9,3.0,1846,1500.0,2.0,0,1,0,0,1,0,...,1,0,1,0,0,0,0,0,1,0

In [156]:
df5.columns

Index(['LOCATION', 'ERECTED', 'LENGTH', 'LANES', 'RIVER_A', 'RIVER_M',
       'RIVER_O', 'PURPOSE_AQUEDUCT', 'PURPOSE_HIGHWAY', 'PURPOSE_RR',
       'CLEAR-G_G', 'CLEAR-G_N', 'T-OR-D_DECK', 'T-OR-D_THROUGH',
       'MATERIAL_IRON', 'MATERIAL_STEEL', 'MATERIAL_WOOD', 'SPAN_LONG',
       'SPAN_MEDIUM', 'SPAN_SHORT', 'REL-L_F', 'REL-L_S', 'REL-L_S-F',
       'TYPE_ARCH', 'TYPE_CANTILEV', 'TYPE_CONT-T', 'TYPE_SIMPLE-T',
       'TYPE_SUSPEN', 'TYPE_WOOD'],
      dtype='object')

In [157]:
# Apply Label encoding to Target Labels in Iris Data

In [158]:
# Apply ordinal encoding to iris label column
# dict_iris = {'Iris-virginica' : 0, 'Iris-versicolor':1, 'Iris-setosa':2}

In [159]:
# Apply one hot encoding to Target Labels in Iris Data